.activityListContainer {
  display: flex;
  flex-direction: column;
  background-image: url('https://64.media.tumblr.com/2469a3bffe4c8c97f9a34768db55a1eb/tumblr_noy6woQBtr1qze3hdo1_r2_500.gifv');
  min-height:100%;
  width: 100%;
  position: absolute ;
  padding-bottom: 5rem;
  background-attachment: fixed;
}

.activityCardListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.activityCardList {
  background-image:url('../../Imagenes/tiling.gif');
  color: rgb(0, 0, 0);
  border: solid 1px white;
  display: flex;
  width: 30%;
  height: 16rem;
  margin:20px
}

.h3Activity {
  text-align: start;
  margin: 30px;

}

.h2Activity {
  text-align: center;
  justify-content: center;
}

.divActivityContainer {
  width: 100%;
  height: 100%;
}

.noActivities {
  background-color: hsl(256, 87%, 12%);
  width: 100%;
  height: 100vh;
  color: white;
}
